@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    font-family: 'Roboto',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 42%, rgba(5, 102, 182, 1) 75%, rgba(0, 212, 255, 1) 100%);
}

.search{
    position: relative;
    height: 50px;
}
.search .input{
    background-color: #fff;
    padding:10px;
    border:0;
    height: 50px;
    width: 50px;
}